<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regUser</servlet-name>
        <servlet-class>regUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regi</servlet-name>
        <servlet-class>regi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getState</servlet-name>
        <servlet-class>getState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServ</servlet-name>
        <servlet-class>loginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCity</servlet-name>
        <servlet-class>getCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchjob</servlet-name>
        <servlet-class>searchjob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regUser</servlet-name>
        <url-pattern>/regUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regi</servlet-name>
        <url-pattern>/regi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getState</servlet-name>
        <url-pattern>/getState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServ</servlet-name>
        <url-pattern>/loginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCity</servlet-name>
        <url-pattern>/getCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchjob</servlet-name>
        <url-pattern>/searchjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
